extends /layout

block declarations
	- additional_title = 'Plugin-Template';

block additional_css
	link(rel='stylesheet', href='')

block additional_scripts
	script(src="")

block body
		header
			.container
				.row
					.col-md-12
						a.backlink(href="/") &#xe113;
						h1.hidden-xs Plugin-Template	
			.container
				.row
					.col-md-12
						=data